$grid-gutter: 2%;

.row {
	width: 85%;
	max-width: 900px;
	margin: 0 auto;
	@include clearfix;
}

.column {
	float: left;
	margin-right: $grid-gutter;

	&.half {
		width: (100% - ($grid-gutter * 1)) / 2;
	}

	&.third {
		width: (100% - ($grid-gutter * 2)) / 3;
	}

	&.fourth {
		width: (100% - ($grid-gutter * 3)) / 4;
	}

	&.fifth {
		width: (100% - ($grid-gutter * 4)) / 5;
	}

	&:last-of-type {
		margin-right: 0;
	}

	@include breakpoint(phone) {
		width: 100% !important;
		margin-right: 0;
	}
}