// -------------- Clearfix -------------- //
@mixin clearfix {
    *zoom: 1;

    &:after { clear: both; }

    &:after,
    &:before {
        content: '';
        display: table;
    }
}


// -------------- Breakpoints -------------- //
// Set our breakpoint names
$breakpoints: (
    'phone':   ( max-width:  620px ),
    'not-phone': ( min-width: 801px ),
    'mobile-admin-bar': ( max-width: 782px ),
    'not-fixed-mobile-admin-bar': ( max-width: 600px ),
    'tablet':  ( max-width:  800px ),
    'small-phone': (max-width: 320px),
    'laptop': ( max-width:  1024px ),
    'large':  ( min-width: 1921px )  // This is a query for a large screen
);

// Mixin
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
}



// -------------- Background Images -------------- //
@mixin background-image($behavior: fixed) {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: $behavior !important;

    // Attachment scroll on mobile and unsupported browsers
    html.touch & {
        background-attachment: scroll !important;
    }
}



// -------------- Transition/Ease -------------- //
@mixin ease($time:333ms, $el: all, $anim: ease-in-out) {
    transition: $el $time $anim;
}



// -------------- Vertically Center -------------- //
@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



// -------------- Reset Default Forms -------------- //
@mixin no-webkit {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    box-shadow: none;

    &:focus, &:active {
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        box-shadow: none;
    }
}

@mixin admin-sticky-fix( $offset: 0 ) {
  $narrow-offset: 46px;
  $wide-offset: 32px;
  @if $offset != 0 and type-of($offset) == 'number' {
    $narrow-offset: $narrow-offset + $offset;
    $wide-offset: $wide-offset + $offset;
  }
  .admin-bar & {
    top: $narrow-offset;
    @media screen and (min-width: 783px) {
      top: $wide-offset;
    }
  }
}