$gray: #eee;
$lightgray: lighten($gray,15%);
$darkgray: darken($gray,15%);

$purple: #666A86;
$lightpurple: lighten($purple,15%);
$darkpurple: darken($purple,15%);


$blue: #788AA3;
$lightblue: lighten($blue,15%);
$darkblue: darken($gray,15%);


$turquoise: #92B6B1;
$lightturquoise: lighten($turquoise,15%);
$darkturquoise: darken($turquoise,15%);


$green: #B2C9AB;
$lightgreen: lighten($green,15%);
$darkgreen: darken($green,15%);

$orange: #C48B76;
$lightorange: lighten($orange,15%);
$darkorange: darken($orange,15%);
